<section class="main">
    <div class="d-flex ">
        <div>
            <div class="main-info-title">
                <h1>GET BEST AUTO SERVICE</h1>
            </div>
            <div>
                <p class="fs-5">
                    On our website you will find information about our team of professionals ready to help
                    you with any of your vehicle needs. We also offer a convenient online service scheduling
                    system so you can easily schedule service for your vehicle.
                    We offer a wide range of services for your vehicle, including maintenance, repairs, and
                    advice on tuning and improving the automotive experience.
                </p>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <img src="~/assets/car.png" width="500px" height="300px" />
        </div>
    </div>
</section>

<section class="details">
    <div class="d-flex">
        <div class="d-flex col">
            <div class="me-3">
                <img src="~/assets//1.png" width="70px" height="70px" />
            </div>
            <div>
                <h3>Personal specialist</h3>
                <p class="fs-5">
                    A qualified specialist with work experience
                </p>
            </div>
        </div>

        <div class="d-flex col">
            <div class="me-3">
                <img src="~/assets//2.png" width="70px" height="70px" />
            </div>
            <div>
                <h3>Repair and diagnostics</h3>
                <p class="fs-5">
                    Diagnostics and repair of cars of all brands
                </p>
            </div>
        </div>

        <div class="d-flex col">
            <div class="me-3">
                <img src="~/assets//3.png" width="70px" height="70px" />
            </div>
            <div>
                <h3>Quality assurance</h3>
                <p class="fs-5">
                    We give a guarantee for our work from two weeks
                </p>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <h1 class="card-header text-center">Additional Servies</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//diagnostics.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Computer diagnostics</h3>
                    <p class="fs-5">
                        On-site complete computer and instrumental diagnostics of all systems
                    </p>
                </div>
            </div>
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//tuning.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Chip-tuning</h3>
                    <p class="fs-5">
                        We install the author's firmware, injection cars, we flash for EURO2
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//controlUnits.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Repair of control units</h3>
                    <p class="fs-5">
                        Professional repair of electronic components of the EBU ABS SRS AirBag ESP EPS
                    </p>
                </div>
            </div>
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//airbag.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Repair of AIRBAG, SRS units</h3>
                    <p class="fs-5">
                        Repair of airbags, unlocking of seat belts, electric power steering
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//immobilizers.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Repair of immobilizers</h3>
                    <p class="fs-5">
                        Repair and flashing services for immobilizer units (IMMO). Departure of a specialist
                    </p>
                </div>
            </div>
            <div class="d-flex col">
                <div class="me-3">
                    <img src="~/assets//speedometer.png" width="100px" height="100px" />
                </div>
                <div>
                    <h3>Speedometer adjustment</h3>
                    <p class="fs-5">
                        Mileage adjustment on cars. Twisting the speedometer. Changing odometer readings
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reviews">
    <h1 class="card-header text-center">Reviews of car owners</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col d-flex flex-column">
                <div class="fs-5">
                    <p>
                        He is a very competent and energetic specialist... got to the bottom of the problem in my case!
                    </p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img 
                        class="rounded-circle img-fluid me-3"
                        src="~/assets/reviewer-1.png" 
                        width="70px" height="70px"/>
                    <span>George Legeza</span>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <div class="fs-5">
                    <p>
                        The specialist arrived quickly and did everything well. Thank you, now I will only address you!!!
                    </p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="rounded-circle img-fluid me-3"
                         src="~/assets/reviewer-2.png"
                         width="70px" height="70px" />
                    <span>Natalia Kischaeva</span>
                </div>
            </div>

            <div class="col d-flex flex-column">
                <div class="fs-5">
                    <p>
                        Excellent teamwork, high professionalism, incredible speed!!! Thanks a lot to the specialist for that!
                    </p>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img class="rounded-circle img-fluid me-3"
                         src="~/assets/reviewer-3.png"
                         width="70px" height="70px" />
                    <span>Nikolay Esin</span>
                </div>
            </div>
        </div>
    </div>
</section>