@{
    ViewData["Title"] = "Access denied";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>Oops! Error 403</h2>
                <div class="error-details h4">
                    Access to the requested resource is prohibited!
                </div>
                <div class="error-actions">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
